*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg: #ea1d24;
  --secondary: rgb(0, 204, 255);
  --primary: rgb(254, 212, 3);
  --body: rgb(224, 236, 255);
  --program: #6700b6;
}

/* Navbar Section */
.navbar {
  background-color: var(--body);
  width: 100%;
  /* height: 500px; */
  padding: 12px 0px;
  position: fixed;
  z-index: 9999;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbar.scrolling-active {
  background-color: var(--bg);
  padding: 12px 0px;
}

.navbar.scrolling-active .box-navbar .brand-logo h1,
.navbar.scrolling-active .box-navbar .brand-logo span,
.navbar.scrolling-active .box-navbar .navigation ul li a,
.navbar.scrolling-active .box-navbar .menu-bar {
  color: white;
}

.navbar .container-nav {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

@media screen and (min-width: 1200px) {
  .navbar .container-nav {
    width: 85%;
    margin-inline: auto;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .logo {
  display: flex;
}

.navbar .box-navbar .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.navbar .box-navbar .brand-logo {
  padding-right: 180px;
  color: #303030;
}

.navbar .box-navbar .brand-logo span {
  color: var(--primary);
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .box-navbar .navigation ul li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.navbar .box-navbar .navigation ul li a {
  color: black;
}

.navbar .box-navbar .navigation ul li a:hover {
  color: var(--primary);
}

.navbar .box-navbar .navigation .join-us {
  padding: 6px 12px;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar .box-navbar .navigation ul li i {
  display: none;
}

.navbar .box-navbar .navigation .join-us:hover {
  color: white;
}

.navbar .box-navbar .navigation #join-us {
  display: none;
}

.navbar .box-navbar .menu-bar {
  display: none;
}

/* Hero section */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.hero .box-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.hero .box-hero .box p {
  font-size: 24px;
  line-height: 1.2;
  color: black;
  width: 90%;
  padding-bottom: 30px;
}

.hero .box-hero .box p span {
  color: var(--primary);
  font-weight: 700;
}

.hero .box-hero .box h2 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 6px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.hero .box-hero .box-img {
  display: flex;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.hero .box-hero .box-img::before {
  content: "";
  position: absolute;
  inset: -10px 80px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
}

.hero .box-hero .box-img:hover::before {
  inset: -20px 10px;
  background: linear-gradient(var(--primary), var(--bg));
  border: 4px solid var(--secondary);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.hero .box-hero .box-img::after {
  content: "";
  position: absolute;
  inset: 10px;
  /* background-color: #eee; */
  background-color: var(--body);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.hero .box-hero .box-img .img-content {
  position: absolute;
  inset: 12px;
  border: 4px solid var(--bg);
  z-index: 3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.hero .box-hero .box-img .img-content:hover {
  border: 4px solid var(--secondary);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.hero .box-hero .box-img .img-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  pointer-events: none;
}

.hero .box-hero .box .button {
  font-weight: bold;
  font-size: 16px;

  padding: 15px 30px;
  border-radius: 50px;
  color: black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero .box-hero .box .btn-2 {
  background-color: var(--primary);
  color: white;
}

.hero .box-hero .box .btn-2:hover {
  background-color: white;
  color: black;
}

/* About section */
.about {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("../image/program-bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.about .box-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 50px;
  padding: 0 30px;
}

.about .box-about .img-about {
  display: grid;
  grid-template-areas:
    "image1 image2"
    "image3 image4";
}

.about .box-about .img-about .image1 {
  grid-area: image1;
}

.about .box-about .img-about .image2 {
  grid-area: image2;
}

.about .box-about .img-about .image3 {
  grid-area: image3;
}

.about .box-about .img-about .image4 {
  grid-area: image4;
}

.about .box-about .img-about img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /*margin: 4px 4px;
  */
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.about .box-about .artikel-about h2 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}
.about .box-about .artikel-about p {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 35px;
}

.about .box-about .artikel-about .btn-about {
  padding: 15px 30px;
  /* margin-top: 20px; */
  background-color: var(--primary);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

.about .box-about .artikel-about a {
  color: black;
  font-weight: 500;
  cursor: pointer;
}

/* Box modal about */
.popup-about {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: -900px;
  z-index: 9999;
  opacity: 0;
}

.popup-content {
  width: 65%;
  /* height: px; */
  background-color: #ddd;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  -moz-transform: translate(-50%, -50%) scale(0.25);
  -ms-transform: translate(-50%, -50%) scale(0.25);
  -o-transform: translate(-50%, -50%) scale(0.25);
  display: flex;
  padding: 15px;
  gap: 25px;
  opacity: 0;
  transition: all 0.5s 0.1s ease;
  -webkit-transition: all 0.5s 0.1s ease;
  -moz-transition: all 0.5s 0.1s ease;
  -ms-transition: all 0.5s 0.1s ease;
  -o-transition: all 0.5s 0.1s ease;
}

.popup-about .popup-content .popup-img {
  width: 100%;
  background-image: url("../image/box-about.png");
  background-position: center;
  background-size: cover;
}

.popup-about .popup-content .popup-img i {
  font-size: 28px;
  cursor: pointer;
}

.popup-content .popup-text {
  /* height: 500px; */
  padding: 10px 8px;
  color: #333;
  font-size: 12px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5);
}

.popup-content .popup-text h2 {
  padding: 6px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.popup-content .popup-text ul {
  line-height: 1.6;
}

.popup-about.active {
  opacity: 1;
  top: 0;
}

.popup-about.active .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

/* Our program section */
/* Program extra */
.program-extra {
  width: 100%;
  min-height: 100vh;
  padding: 65px 0px 0px;
  background-color: #e0ecff;
}

.program-extra .header-text {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.program-extra .extra-program-content {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.program-extra .container-extra {
  width: 28%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  margin-top: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}

.program-extra .card-program {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.container-extra .extra-program {
  background-color: var(--program);
  padding: 15px;
  color: #fff;
}

.container-extra .extra-program .program-header,
.container-extra .extra-program .program-title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.program-description .description {
  font-size: 22px;
  padding: 15px;
  margin: 15px 0px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  color: var(--program);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.program-price .price {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
  font-style: italic;
  padding: 0 0 30px;
}

.program-price .price-2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.program-action {
  position: absolute;
  left: 135px;
  bottom: -15px;
}

.program-action a {
  background-color: var(--program);
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.program-action a:hover {
  background-color: white;
  color: var(--program);
}

/* Main program */
.program-main {
  width: 100%;
  padding-top: 30px;
}

.program-main .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program-main .header-text {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.program-main-container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  /* background-color: red; */
}

.program-main .main-content {
  width: 265px;
  height: auto;
  /* background-color: red; */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.program-main .main-content .top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.program-main .main-content .text h2 {
  font-size: 22px;
  font-weight: 500;
}

.program-main .main-content .text span {
  font-size: 18px;
  padding-top: 20px;
}

.program-main .main-content .top-section .img-content {
  padding: 4px;
  width: 160px;
  height: 115px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-content .img-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.main-content .price strong {
  font-size: 22px;
  color: #19181e;
}

.main-content .price span {
  color: #292929;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.main-content .feature-section {
  border-top: 1px solid #c7c7c7;
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebeb;
}

.feature-section .feature-box {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20px;
  padding-bottom: 25px;
}

.feature-section .feature-box i {
  color: #462ebd;
  margin-right: 7px;
  font-size: 15px;
}

.feature-section .feature-box span {
  color: #242424;
  font-size: 14px;
  font-weight: 500;
}

.feature-section .main-action {
  background-color: var(--primary);
  padding: 15px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.feature-section .main-action a {
  color: black;
  font-weight: 500;
}

.feature-section .main-action:hover {
  background-color: #f6f6f7;
}

/* Responsive */
/* Media Queries */
@media screen and (max-width: 1200px) {
  /* Navbar Section */
  .navbar .box-navbar .brand-logo {
    padding-right: 0;
  }

  /* Our program section*/
  /* Main program section */
  .program-main .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 990px) {
  /* Navbar section */
  .navbar .box-navbar .navigation {
    position: absolute;
    right: -300px;
    top: 120%;
    width: 250px;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .navbar .box-navbar .navigation.active {
    right: 0;
  }

  .navbar .box-navbar .navigation ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 30px;
    gap: 60px;
    /* background-color: aqua; */
  }

  .navbar .box-navbar .navigation ul li a {
    color: white;
  }

  .navbar .box-navbar .navigation ul li a:hover {
    color: var(--primary);
  }

  .navbar .box-navbar .navigation ul li i {
    color: white;
    margin-inline: 10px;
    display: inline-block;
  }

  .navbar .box-navbar .navigation #join-us {
    display: inline-block;
  }

  .navbar .box-navbar .navigation #join-us:hover {
    background-color: black;
  }

  /*  Menu Bar  */
  .navbar .box-navbar .menu-bar {
    display: inline-block;
    padding-top: 6px;
    /* background-color: red; */
    /* text-align: center; */
    cursor: pointer;
  }

  /* Hero  section*/
  .hero .box-hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    row-gap: 50px;
    padding-top: 100px;
  }

  /* Box modal about */
  .popup-content {
    width: 80%;
  }

  .popup-content .popup-text {
    width: 100%;
    height: 250px;
    border-bottom: 0;
    overflow: scroll;
  }

  /* Our program section */
  /* Extra program */
  .container-extra .extra-program .program-header,
  .container-extra .extra-program .program-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .extra-program-content .container-extra {
    width: 25%;
  }

  .program-action {
    left: 80px;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar section */
  .navbar .box-navbar .brand-logo {
    /* font-size: 14px; */
    padding-right: 0;
  }

  .navbar .box-navbar .navigation {
    width: 250px;
    font-size: 16px;
  }

  /* Hero section */
  .hero .box-hero {
    row-gap: 50px;
  }

  .hero .box-hero .box p {
    margin-bottom: 50px;
  }

  /* About section */
  .about {
    display: flex;
  }

  .about .box-about {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }

  .about .box-about .img-about {
    padding: 20px 0px;
  }

  .about .box-about .img-about img {
    width: 200px;
  }

  /* Box modal about */
  .popup-content {
    width: 90%;
  }

  .popup-about .popup-text {
    width: 70%;
  }

  /* Our Program section */
  .program-extra .extra-program-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .program-extra .container-extra {
    width: 80%;
  }

  .container-extra .program-action {
    left: 0px;
  }
}

@media screen and (max-width: 476px) {
  /* Navbar section */
  .navbar .box-navbar .brand-logo {
    font-size: 12px;
  }

  .navbar .box-navbar .navigation {
    width: 250px;
    font-size: 14px;
  }

  /* Hero section */
  .hero .box-hero {
    padding-top: 0;
  }

  .hero .box-hero .box-img {
    width: 300px;
    height: 300px;
    /* margin-bottom: 20px; */
  }

  .hero .box-hero .box h2 {
    font-size: 18px;
  }

  .hero .box-hero .box p {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 0;
    width: 100%;
  }

  .hero .box-hero .box .button {
    font-size: 12px;
  }

  /* About section */
  .about .box-about .img-about img {
    width: 100%;
  }

  .about .box-about {
    margin-bottom: 100px;
  }

  /* Box modal about */
  .popup-content {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .popup-about .popup-img {
    height: 250px;
  }

  .popup-about .popup-content .popup-img i {
    font-size: 24px;
  }

  .popup-about .popup-text {
    width: 100%;
  }

  .popup-content .popup-text h1 {
    font-size: 16px;
  }

  .popup-content .popup-text h2 {
    font-size: 14px;
  }

  .popup-content .popup-text p,
  .popup-content .popup-text ul {
    font-size: 14px;
  }

  /* Our program section */
  .program-extra .header-text {
    font-size: 22px;
  }

  .program-extra .container-extra {
    width: 75%;
  }

  .container-extra .description {
    font-size: 20px;
  }
}
